.idea
/local
/vendor
/nbproject
/build
/node_modules
/public/storage
composer.lock

# Laravel 5 & Lumen specific
bootstrap/cache/
/database/seeds/*
!/database/seeds/DatabaseSeeder.php
storage/
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

